    .buttonsWidth {
        width: 80px;
    }
    .addRow {
    width:80px;
    }

    .space {
        margin-left: 10px;
        }
        .table {
            width: 100%;
          }
          table {
            width: 100%;
          }
        
        .tablelong {
            width: 50%;
            height: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
.addButton {
    margin-left: 60px;
    margin-right: 0px;
}
.addButton:hover {background-color: light-gray;}
