<div class="mat-elevation-z8 tablelong">
  <table mat-table [dataSource]="availableSevice.dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column --> 
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.currencyName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="viewValue">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.currencyAbbreviation}} </td>
    </ng-container>
 
 <!-- Actions Column -->
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" class="space buttonsWidth" [routerLink]="['/availableCurrencies']"  (click)="availableSevice.addCurrency(element.currencyName,element.currencyAbbreviation,element.id)">Add</button>
         </td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<button mat-button (click)="addCurrency()">Add Currency</button>


<hr>

<div class="mat-elevation-z8 tablelong">
  <table mat-table [dataSource]="availableSevice.dataSourceCrypto">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Crypto Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cryptoCurrencyName}} </td>
    </ng-container>

 <!-- Actions Column -->
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" class="space buttonsWidth" [routerLink]="['/availableCurrencies']"  (click)="addCurrency(element.currencyName,element.currencyAbbreviation,element.id)">Add</button>
         </td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsCrypto"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCrypto;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<button mat-button (click)="addCrypto()">Add Crypto</button>

