<button mat-button class="btn btn-primary space buttonsWidth" [routerLink]="['/availableCurrencies']">Add</button>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let item of users">
      <th scope="row"> {{ item.id }}</th>
      <td>{{ item.username }}</td>
      <td>{{item.role}}</td>
      <td>{{item.confirmed}}</td>
      <td><button mat-button  class="btn btn-primary space buttonsWidth" (click)="putUser(item.id)">Reset</button>
        <button mat-button class="btn btn-primary space buttonsWidth" (click)="confirmUser(item.id, item.confirmed)">Approve</button>
        <button mat-button class="btn btn-danger space buttonsWidth" (click)="deleteUser(item.id)">Dismiss</button></td>
    </tr>
  </tbody>
</table><br>
