
.button{
        width: 110px;
}
    .addRow {
    width:80px;
    }

.space {
        margin-left: 10px;
 }

.addRow {
        width:80px;
}
        
.table {
            width: 100%;
}
table {
            width: 100%;
}
        
.tablelong {
            width: 50%;
            height: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto 
}
.fields {
    margin-left: 50px;
}
        
        