<mat-toolbar class="nav-bar">
  <mat-toolbar-row>
<div>
  <span style="color:#A29C9C">CRYPTO&nbsp;<span style="color:rgb(238, 230, 230);">APP</span></span>
    <button mat-button class="button-white" routerLink="bank-account"  *ngIf="!authService.isAdmin" >Fiat wallet</button> 
    <button mat-button class="button-white" routerLink="crypto-account" *ngIf="!authService.isAdmin"  >Crypto wallet</button>
    <button mat-button class="button-white"  routerLink="available-currencies" >Available Currencies</button>
    <button mat-button class="button-white"  routerLink="bank" *ngIf="!authService.isAdmin">Create Account</button>
    <button mat-button class="button-white"  routerLink="manage-application" *ngIf="authService.isAdmin">Manage Application</button>
    <button mat-button class="button-white"  routerLink="users-management" *ngIf="authService.isAdmin">Users management</button>
  </div>
  
    <div class="wrapper" >
      <button mat-button [matMenuTriggerFor]="menu"><img src="https://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" class="image--cover"></button>
      <mat-menu #menu="matMenu">
        <p style="text-align: center" >Hi, {{authService.getRole}}</p>
        <button mat-menu-item routerLink="profile">Profile</button>
        <button mat-menu-item routerLink="transactions" *ngIf="!authService.isAdmin">Transactions</button>
        <button mat-menu-item (click)="loginComponent.logoutUser()" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</button>
      </mat-menu>
    </div>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<alert></alert>