<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<h4>Manage transaction fee</h4>
</mat-panel-title>

</mat-expansion-panel-header>
<form>

    <mat-form-field class="inputFields">
              <mat-label>New value </mat-label>
              <input type="number" matInput [(ngModel)]="newValueFee">
    </mat-form-field>
    <button mat-raised-button color="primary" class="buttons" (click)="addFee()" [routerLink]="['/manage-application']">Add fee</button>
</form>
 
  
<hr>
<br>
<mat-form-field class="inputFields">
          <mat-label>Old value </mat-label>
          <input type="number" matInput [(ngModel)]="managerService.actualFee" disabled>
</mat-form-field>

</mat-expansion-panel>
</mat-accordion>
<br>
<hr>
<br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
  <mat-panel-title>
  <h4>Withdrawal flat rate </h4>
  </mat-panel-title>
  
  </mat-expansion-panel-header>
  <form>
      <mat-form-field class="inputFields">
                <mat-label>New value </mat-label>
                <input type="number" matInput [(ngModel)]="newValueFlat">
      </mat-form-field>
      <button mat-raised-button color="primary" class=" buttons" (click)="addFlatRate()" [routerLink]="['/manage-application']">Add flat</button>
  </form>
   
    
  <hr>
  <mat-form-field class="inputFields">
            <mat-label>New value </mat-label>
            <input type="number" matInput [(ngModel)]="managerService.actualFlat" disabled>
  </mat-form-field>
  
  </mat-expansion-panel>
  </mat-accordion>