
<div *ngIf="authService.isLoggedIn">
  <button mat-button routerLink="bank-account"  *ngIf="!authService.isAdmin" >Fiat wallet</button> 
  <button mat-button routerLink="crypto-account" *ngIf="!authService.isAdmin"  >Crypto wallet</button>
  <button mat-button routerLink="available-currencies" >Available Currencies</button>
  <button mat-button routerLink="bank" *ngIf="!authService.isAdmin">Bank</button>
  <button mat-button routerLink="manage-application" *ngIf="authService.isAdmin">Manage Application</button>
  <button mat-button routerLink="users-management" *ngIf="authService.isAdmin">Users management</button>
    <div class="wrapper">
      <button mat-mini-fab [matMenuTriggerFor]="menu"><img src="https://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" class="image--cover"></button>
      <mat-menu #menu="matMenu">
        <p style="text-align: center" >Hi, {{authService.getRole}}</p>
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="loginComponent.logoutUser()" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</button>
      </mat-menu>
    </div>  
  
  </div>
  <h3>Portal</h3>

<router-outlet></router-outlet>
<alert></alert>