<div class="tablelong" *ngIf="authService.isAdmin">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
      Add Crypto
    </mat-panel-title>
    
    </mat-expansion-panel-header>
    
    <span class="fields">
      <mat-form-field>
        <mat-label>Select crypto</mat-label>
        <mat-select  [(ngModel)]="CryptoName">
          <mat-option *ngFor="let crypto of cryptoList" [value]="crypto.cryptoCurrencyName">
            {{crypto.cryptoCurrencyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <br>
        <button mat-raised-button color="primary" class="button" [routerLink]="['/bank']"  (click)="addCrypto()">Add Crypto</button>
    </mat-expansion-panel>
    </mat-accordion>
    </div>