
<div class="mat-elevation-z8 tablelong">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id. 
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="BankName">
      <th mat-header-cell *matHeaderCellDef> Bank Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="IBAN">
      <th mat-header-cell *matHeaderCellDef> IBAN </th>
      <td mat-cell *matCellDef="let element"> {{element.iban}} </td>
    </ng-container>
 
  <!-- Currency Column -->
  <ng-container matColumnDef="Currency">
    <th mat-header-cell *matHeaderCellDef> Currency </th>
    <td mat-cell *matCellDef="let element"> {{element.currencyName}} </td>
  </ng-container>
 <!-- Actions Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions
     
     </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" class="button" [routerLink]="['/bank-account']"  (click)="addBankAccount(element.id, element.currencyName, element.bankName, element.iban)"><i class="material-icons">
        account_balance_wallet
        </i></button>
      <button mat-icon-button color="warn" [routerLink]="['/availableCurrencies']" (click)="deleteBank(element.id)">
        <i class="material-icons">
          delete
          </i>
      </button>
   </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br>
<div class="tablelong" *ngIf="!authService.isAdmin">
  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
  <mat-panel-title>
    Add Bank
  </mat-panel-title>
  
  </mat-expansion-panel-header>
  
  <mat-form-field class="inputFields">
              <mat-label>Bank Name</mat-label>
              <input type="text" matInput [(ngModel)]="BankName">
  </mat-form-field>  
  <span class="fields">
  <mat-form-field class="inputFields">
          <mat-label>IBAN</mat-label>
          <input type="text" matInput [(ngModel)]="IBAN">
  </mat-form-field> 
  </span>
  <span class="fields">
    <mat-form-field>
      <mat-label>Select currency</mat-label>
      <mat-select  [(ngModel)]="CurrencyAbbreviation">
        <mat-option *ngFor="let currency of currencyList" [value]="currency.currencyAbbreviation">
          {{currency.currencyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <br>
      <button mat-raised-button color="primary" class="button" [routerLink]="['/bank']"  (click)="addBank()">Add Bank</button>
  </mat-expansion-panel>
  </mat-accordion>
  </div>
<hr>


<div class="mat-elevation-z8 tablelong">
  <table mat-table [dataSource]="dataSourceCrypto">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="CryptoName">
      <th mat-header-cell *matHeaderCellDef> Crypto Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cryptoCurrencyName}} </td>
    </ng-container>

 <!-- Actions Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions 
      
    </th>
    <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" class="button" [routerLink]="['/bank']"  (click)="addCryptoAccount(element.id, element.cryptoCurrencyName)"><i class="material-icons">
          account_balance_wallet
          </i></button>  
        <button mat-icon-button color="warn" [routerLink]="['/bank']" (click)="deleteCrypto(element.id)">
            <i class="material-icons">
              delete
              </i>
          </button>
        </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsCrypto"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCrypto;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<br>
<div class="tablelong" *ngIf="!authService.isAdmin">
  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
  <mat-panel-title>
    Add Crypto
  </mat-panel-title>
  
  </mat-expansion-panel-header>
  
  <span class="fields">
    <mat-form-field>
      <mat-label>Select crypto</mat-label>
      <mat-select  [(ngModel)]="CryptoName">
        <mat-option *ngFor="let crypto of cryptoList" [value]="crypto.cryptoCurrencyName">
          {{crypto.cryptoCurrencyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <br>
      <button mat-raised-button color="primary" class="button" [routerLink]="['/bank']"  (click)="addCrypto()">Add Crypto</button>
  </mat-expansion-panel>
  </mat-accordion>
  </div>
  