<div class="flex-container">
    
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h4>Manage transaction fee</h4>
    </mat-panel-title>
    
    </mat-expansion-panel-header>
    
    <form [formGroup]="feeForm" (ngSubmit)="onSubmitFee()">
        <mat-form-field class="inputFields">
                  <mat-label>New value </mat-label>
                  <input type="number" matInput formControlName="feeAmount" >
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="buttons" >Add fee</button>
    <br>
    </form>
    <mat-form-field class="inputFields">
              <mat-label>Old value </mat-label>
              <input type="number" matInput [(ngModel)]="managerService.actualFee" disabled>
    </mat-form-field>
    </mat-expansion-panel>
    </mat-accordion>

    </div>
    <br>
    <br>
    <div class="flex-container">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <mat-panel-title>
      <h4>Withdrawal flat rate </h4>
      </mat-panel-title>
      
      </mat-expansion-panel-header>
      <form [formGroup]="flatForm" (ngSubmit)="onSubmitFlat()">
          <mat-form-field class="inputFields">
                    <mat-label>New value </mat-label>
                    <input type="number" matInput formControlName="flatAmount">
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" class=" buttons" >Add flat</button>
          <br>
      </form>
      <mat-form-field class="inputFields">
                <mat-label>New value </mat-label>
                <input type="number" matInput [(ngModel)]="managerService.actualFlat" disabled>
      </mat-form-field>
      
      </mat-expansion-panel>
      </mat-accordion>
      </div>