<div fxFlex="60" class="flex-container">
<mat-card class="loginCard">
  <mat-card-title style="text-align: center">Login</mat-card-title>
  <mat-form-field class="inputFields">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="userLogin.Username">
  </mat-form-field> 
<br>
<mat-form-field class="inputFields">
          <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="userLogin.Password" (keyup.enter)="loginUser()" [routerLink]="['/bank-account']" >
  </mat-form-field> 
  <br>
<mat-card-actions>
<button class="loginButton" mat-raised-button color="primary"  [routerLink]="['/bank-account']" (click)="loginUser()">Login</button>
</mat-card-actions>
<a style="color:blue" value="link" href="#" class="text"  [routerLink]="['/registerUser']"> Register</a>
<br>
<a style="color:blue" value="link" href="#" class="text"> Forgot password?</a>
</mat-card>
</div>