<h4>From</h4>
<mat-form-field>
  <mat-label>Select currency</mat-label>
  <mat-select  [(ngModel)]="tradeService.selectedValueFrom">
    <mat-option *ngFor="let crypto of tradeService.cryptoList" [value]="crypto.cryptoCurrencyAbbreviation">
      {{crypto.cryptoCurrencyName}}
    </mat-option>
    <mat-option *ngFor="let currency of tradeService.currencyList" [value]="currency.currencyAbbreviation">
      {{currency.currencyName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="inputFields">
        <mat-label>Amount</mat-label>
        <input type="number" matInput [(ngModel)]="tradeService.amountFrom">
</mat-form-field> 

<h4>To</h4>
<mat-form-field>
  <mat-label>Select currency</mat-label>
  <mat-select [(ngModel)]="tradeService.selectedValueTo">
    <mat-option *ngFor="let crypto of tradeService.cryptoList" [value]="crypto.cryptoCurrencyAbbreviation">
      {{crypto.cryptoCurrencyName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="inputFields">
        <mat-label>Amount</mat-label>
        <input type="number" matInput disabled='true' >
</mat-form-field> 
<br>
<button mat-raised-button color="primary" (click)="tradeService.trade()" [routerLink]="['/servers']" >Add</button>
<p>{{tradeService.selectedValueFrom}}</p>
<p>{{tradeService.selectedValueTo}}</p>