<div *ngIf="authService.isLoggedIn">
<button mat-button routerLink="/bank-account"  *ngIf="!authService.isAdmin" >Fiat wallet</button> 
<button mat-button routerLink="/crypto" *ngIf="!authService.isAdmin"  >Crypto wallet</button>
<button mat-button routerLink="/availableCurrencies" >Available Currencies</button>
<button mat-button routerLink="/bank" *ngIf="!authService.isAdmin">Bank</button>
<button mat-button routerLink="/manage-application" *ngIf="authService.isAdmin">Manage Application</button>
<button mat-button routerLink="/userManagement" *ngIf="authService.isAdmin">Users management</button>
  <div class="wrapper">
    <button mat-button [matMenuTriggerFor]="menu"><img src="https://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg" class="image--cover"></button>
    <mat-menu #menu="matMenu">
      <p style="text-align: center" >Hi, {{authService.getRole}}</p>
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="loginComponent.logoutUser()" [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</button>
    </mat-menu>
  </div>  

</div>


<div class="container">
  <!-- <div class="row">
    <div >
      <ul class="nav nav-tabs" *ngIf="authService.isLoggedIn"> 
        <li role="presentation" class="active"><a routerLink="/" routerLinkActive="router-link-active" >Deposit</a></li>
        <li role="presentation"><a routerLink="/bank-account">Fiat wallet</a></li>
        <li role="presentation"><a routerLink="/withdraw">Withdraw</a></li>
        <li role="presentation"><a routerLink="/trade">Trade</a></li>
        <li role="presentation"><a routerLink="/login">Login</a></li>
        <li role="presentation"><a routerLink="/registerUser">Register User</a></li>
        <li role="presentation"><a routerLink="/user-details">Details</a></li>
        <li role="presentation"><a routerLink="/availableCurrencies">Available Currencies</a></li>
        <li role="presentation"><a routerLink="/bank">Bank </a></li>
        <li role="presentation"><a routerLink="/crypto">Crypto wallet </a></li>
        <li role="presentation"><a routerLink="/manage-application">Manage Application</a></li>
        <li role="presentation"><a routerLink="/usersUnconfirmed">Users unconfirmed</a></li>
        <li *ngIf="authService.isAuthenticated()"><button class="loginButton" mat-raised-button color="primary" (click)="loginComponent.logoutUser()" [routerLink]="['/users']" routerLinkActive="router-link-active">Logout</button></li>
      </ul>
    </div>
  </div> -->
  <div class="row">
    <div >
     <br>
     <br>
     <br>
    <router-outlet></router-outlet>
    </div>
</div>
</div>

