.container {
  margin-top: 30px;
}

.defaultBtn {
  color: blue;
}

.defaultBtn:hover {
  background: darkblue;
}

.wrapper {
  padding: 5px;
  float: right;
}

.image--cover {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}