<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a routerLink="/" routerLinkActive="router-link-active" >Deposit</a></li>
        <li role="presentation"><a routerLink="/servers">Wallet</a></li>
        <li role="presentation"><a routerLink="/users">Withdraw</a></li>
        <li role="presentation"><a routerLink="/trade">Trade</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     <br>
     <br>
     <br>
    <router-outlet></router-outlet>
    </div>
</div>
</div>
