<mat-tab-group>
  <mat-tab label="Currency">
<div class="mat-elevation-z8 tablelong">
    <mat-table [dataSource]="availableSevice.dataSource">
  
      <!-- Name Column --> 
      <ng-container matColumnDef="name" >
        <th fxLayoutAlign=" center" fxFlex="50" mat-header-cell *matHeaderCellDef> Name </th>
        <td fxLayoutAlign=" center" fxFlex="50" mat-cell *matCellDef="let element"> {{element.currencyName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="viewValue" >
        <th fxLayoutAlign=" center" fxFlex="30" mat-header-cell *matHeaderCellDef> Symbol </th>
        <td fxLayoutAlign=" center" fxFlex="30" mat-cell *matCellDef="let element"> {{element.currencyAbbreviation}} </td>
      </ng-container>
   
   <!-- Actions Column -->
        <ng-container matColumnDef="actions" >
            <th fxLayoutAlign="center center" fxFlex="20" mat-header-cell *matHeaderCellDef> Actions 
              <div *ngIf="authService.isAdmin">
              <button mat-icon-button class="addButton" (click)="addCurrency()">
                <i class="material-icons" color="primary">
                  add
                  </i>
              </button>
            </div>
            </th> 
            <td fxLayoutAlign="center center" fxFlex="20" mat-cell *matCellDef="let element">
              <div *ngIf="authService.isAdmin">
              <button mat-icon-button color="warn">
                <i class="material-icons">
                  delete
                  </i>
              </button>
            </div>
            <div *ngIf="!authService.isAdmin">
              <button mat-icon-button class="addButton" (click)="availableSevice.addCurrencyToList(element.currencyAbbreviation)">
                <i class="material-icons" color="primary">
                  add
                  </i>
              </button>
            </div>
           </td>
          </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator  #paginator  [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-tab>
  
  <mat-tab label="Crypto">
  <div class="mat-elevation-z8 tablelong">
    <table mat-table [dataSource]="availableSevice.dataSourceCrypto">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th fxLayoutAlign=" center" fxFlex="70"  mat-header-cell *matHeaderCellDef> Crypto Name </th>
        <td fxLayoutAlign=" center" fxFlex="70"  mat-cell *matCellDef="let element"> {{element.cryptoCurrencyName}} </td>
      </ng-container>
  
   <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th fxLayoutAlign="center center" fxFlex="30"  mat-header-cell *matHeaderCellDef> Actions 
              <div *ngIf="authService.isAdmin">
              <button mat-icon-button (click)="addCrypto()">
                <i class="material-icons">
                  add
                  </i>
              </button>
              </div>
            </th>
            <td fxLayoutAlign="center center" fxFlex="30"  mat-cell *matCellDef="let element">
              <div *ngIf="authService.isAdmin">
              <button mat-icon-button color="warn" >
                <i class="material-icons">
                  delete
                  </i>
              </button>
              </div>
              <div *ngIf="!authService.isAdmin">
                <button mat-icon-button (click)="availableSevice.addCryptoCurrencyToList()" >
                  <i class="material-icons" color="primary">
                    add
                    </i>
                </button>
              </div>
            </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsCrypto"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCrypto;"></tr>
      
    </table>
  
    <mat-paginator  #paginator2  [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-tab>
</mat-tab-group>
  
  
  