<div class="mat-elevation-z8 tablelong">
    <mat-table [dataSource]="dataSource">
     
      <!-- Name Column -->
      <ng-container matColumnDef="currencyName">
        <th fxLayoutAlign=" center" fxFlex="25" mat-header-cell *matHeaderCellDef>Currency</th>
        <td fxLayoutAlign=" center" fxFlex="25" mat-cell *matCellDef="let element" matTooltip="{{element.currencyName}}">{{ element.currencyName }}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="bankName">
        <th fxLayoutAlign=" center" fxFlex="10"  mat-header-cell *matHeaderCellDef>Bank</th>
        <td fxLayoutAlign=" center" fxFlex="10" mat-cell *matCellDef="let element" matTooltip="{{element.bankName}}">{{ element.bankName }}</td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="iban">
        <th fxLayoutAlign=" center" fxFlex="30" mat-header-cell *matHeaderCellDef>IBAN</th>
        <td fxLayoutAlign=" center" fxFlex="30" mat-cell *matCellDef="let element" matTooltip="{{element.iban}}">{{ element.iban }}</td>
      </ng-container>
      <!-- Amount Column -->
      <ng-container matColumnDef="sold">
        <th fxLayoutAlign=" center" fxFlex="10" mat-header-cell *matHeaderCellDef>Sold</th>
        <td fxLayoutAlign=" center" fxFlex="10" mat-cell *matCellDef="let element" matTooltip="{{element.sold}}"><span class="ellipsis">{{ element.sold }}</span></td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th fxLayoutAlign="center center" fxFlex="25" mat-header-cell *matHeaderCellDef>Actions</th>
        <td fxLayoutAlign="center center" fxFlex="25" mat-cell *matCellDef="let element">
          <button (click)="changeTab(0)"
            mat-icon-button
            color="primary"
            routerLink="/portal/user/transactions"
          >
            <i class="material-icons" matTooltip="Transactions">
              timeline
            </i>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="deposit(); bankAccountService.setID(element.id)"
          >
            <i class="material-icons" matTooltip="Deposit">
              library_add
            </i>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="withdraw(); bankAccountService.setID(element.id)"
          >
            <i class="material-icons" matTooltip="Withdraw">
              remove_circle_outline
            </i>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="trade(); bankAccountService.setID(element.id)"
          >
            <i class="material-icons" matTooltip="Trade">
              swap_horiz
            </i>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteBankAccount(element.id)"
            matTooltip="Delete"
          >
            <i class="material-icons">
              delete
            </i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>
    <mat-paginator  #paginator  [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  