<div class="mat-elevation-z8 tablelong">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="currencyName">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currencyName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef> Bank </th>
        <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
      </ng-container>
   
      <!-- Symbol Column -->
      <ng-container matColumnDef="iban">
        <th mat-header-cell *matHeaderCellDef> IBAN </th>
        <td mat-cell *matCellDef="let element"> {{element.iban}} </td>
      </ng-container>
<!-- Amount Column -->
      <ng-container matColumnDef="sold">
          <th mat-header-cell *matHeaderCellDef> Sold </th>
          <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
        </ng-container>
   <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" class="space buttonsWidth" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="bankAccountService.setID(element.id)" matTooltip="Deposit">Deposit</button>
              <button mat-raised-button color="primary" class="space buttonsWidth" [routerLink]="['/withdraw']" routerLinkActive="router-link-active" (click)="bankAccountService.setID(element.id)" matTooltip="Withdraw">Withdraw</button>
              <button mat-icon-button color="primary" class="space buttonsWidth" [routerLink]="['/trade']" routerLinkActive="router-link-active"><i class="material-icons" matTooltip="Trade">
                swap_horiz
                </i></button>
                <svg class="cdm-Icon_Cancel">
                  <use xlink:href="#cdm-Icon_Cancel"></use>
                  </svg>
              <button mat-icon-button color="warn" class="space buttonsWidth"  [routerLink]="['/servers']" (click)="deleteBankAccount(element.id)" matTooltip="Delete"> <i class="material-icons">
                delete
                </i></button>
           </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
  </div>