<h2 mat-dialog-title>Withdraw Fiat</h2>
<mat-dialog-content class="mat-typography">
    <h4>From</h4>
    <mat-form-field>
      <mat-label>Select currency</mat-label>
      <mat-select  [(ngModel)]="bankAccountService.selectedValueFrom">
        <mat-option *ngFor="let crypto of bankAccountService.cryptoList" [value]="crypto.cryptoCurrencyAbbreviation">
          {{crypto.cryptoCurrencyName}}
        </mat-option>
        <mat-option *ngFor="let currency of bankAccountService.currencyList" [value]="currency.currencyAbbreviation">
          {{currency.currencyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="inputFields">
            <mat-label>Amount</mat-label>
            <input type="number" matInput [(ngModel)]="bankAccountService.amountFrom">
    </mat-form-field> 
    
    <h4>To</h4>
    <mat-form-field>
      <mat-label>Select currency</mat-label>
      <mat-select [(ngModel)]="bankAccountService.selectedValueTo">
        <mat-option *ngFor="let crypto of bankAccountService.cryptoList" [value]="crypto.cryptoCurrencyAbbreviation">
          {{crypto.cryptoCurrencyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="inputFields">
            <mat-label>Amount</mat-label>
            <input type="number" matInput disabled='true' >
    </mat-form-field> 
    <br>
    
    <p>{{bankAccountService.selectedValueFrom}}</p>
    <p>{{bankAccountService.selectedValueTo}}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="bankAccountService.tradeAmount()"  [routerLink]="['/bank-account']" >Trade</button>
</mat-dialog-actions>
