<mat-tab-group>
  <mat-tab label="Unconfirmed users">
<div class="mat-elevation-z8 tablelong">
    <mat-table [dataSource]="unconfirmedUsers">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th fxLayoutAlign=" center" fxFlex="30" mat-header-cell *matHeaderCellDef> Name </th>
        <td fxLayoutAlign=" center" fxFlex="30" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th fxLayoutAlign=" center" fxFlex="20" mat-header-cell *matHeaderCellDef> Role </th>
        <td fxLayoutAlign=" center" fxFlex="20"mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
  
      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th fxLayoutAlign=" center" fxFlex="10" mat-header-cell *matHeaderCellDef> State </th>
        <td fxLayoutAlign=" center" fxFlex="10" mat-cell *matCellDef="let element"> {{element.confirmed}} </td>
      </ng-container>
   
   <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th fxLayoutAlign="center center" fxFlex="40" mat-header-cell *matHeaderCellDef> Actions </th>
            <td fxLayoutAlign="center center" fxFlex="40" mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="Reset user" color="primary" class="space buttonsWidth" (click)="resetUser(element.id)"><i class="material-icons">autorenew</i></button>
              <button mat-icon-button  matTooltip="Confirm user" color="success"  class="space buttonsWidth" (click)="confirmUser(element.id, element.confirmed)"><i class="material-icons">done</i></button>
              <button mat-icon-button color="warn" matTooltip="Reject user" class="space buttonsWidth" (click)="deleteUser(element.id)"><i class="material-icons">remove_circle_outline</i></button>
          
            </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </mat-tab>
  <mat-tab label="Confirmed users">
    <div class="mat-elevation-z8 tablelong">
    <mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th fxLayoutAlign=" center" fxFlex="30" mat-header-cell *matHeaderCellDef> Name </th>
        <td fxLayoutAlign=" center" fxFlex="30" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th fxLayoutAlign=" center" fxFlex="20" mat-header-cell *matHeaderCellDef> Role </th>
        <td fxLayoutAlign=" center" fxFlex="20" mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
  
      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th fxLayoutAlign=" center" fxFlex="10" mat-header-cell *matHeaderCellDef> State </th>
        <td fxLayoutAlign=" center" fxFlex="10" mat-cell *matCellDef="let element"> {{element.confirmed}} </td>
      </ng-container>
   
   <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th fxLayoutAlign="center center" fxFlex="40" mat-header-cell *matHeaderCellDef> Actions </th>
            <td fxLayoutAlign="center center" fxFlex="40" mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" matTooltip="Reset user" class="space buttonsWidth" (click)="resetUser(element.id)"><i class="material-icons">autorenew</i></button>
              <button mat-icon-button color="warn" class="space buttonsWidth" matTooltip="Suspend user" (click)="suspendUser(element.id)"><i class="material-icons">not_interested</i></button>
              <button mat-icon-button color="warn" matTooltip="Delete user" class="space buttonsWidth" (click)="deleteUser(element.id)"><i class="material-icons">delete</i></button>
           </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator  #paginator2  [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>
    </mat-tab-group>