<div  fxLayout="column" fxLayoutAlign="space-around center">
<mat-card  *ngIf="users[0]">
    <h4>Personal data</h4>
      <div fxLayout="row">
        <div   fxFlex="50">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput disabled [(ngModel)]="users[0].username">
        </mat-form-field>
        </div>

        <div class="margin-left"  fxFlex="50">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"  [(ngModel)]="users[0].email">
          </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div   fxFlex="50">
        <mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput placeholder="First name"  [(ngModel)]="users[0].firstName">
        </mat-form-field>
        </div>

        <div class="margin-left"  fxFlex="50">
        <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Last name"  [(ngModel)]="users[0].lastName">
          </mat-form-field>
        </div>
    </div>
    <div >
        <mat-form-field class="example-full-width">
          <mat-label>Role</mat-label>
          <input matInput placeholder="Role" disabled  [(ngModel)]="users[0].role">
        </mat-form-field>

      <mat-form-field class="example-full-width margin-left">
        <mat-label>Refferal</mat-label>
        <input matInput placeholder="Refferal id" disabled  [(ngModel)]="users[0].referralId">
      </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="end end"  class="margin-left">
        <button mat-raised-button color="primary" (click)="changeUser()">Save</button>
        </div>
</mat-card>
<br>
<mat-accordion class="accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change password
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div fxLayout="column" fxLayoutAlign="center" >
        <div fxLayout="column" fxLayoutAlign="center">
        <mat-form-field class="example-full-width">
          <mat-label>Old password</mat-label>
          <input matInput [(ngModel)]="password[0].Password">
        </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="center" >
        <mat-form-field class="example-full-width">
            <mat-label>New password</mat-label>
            <input matInput placeholder="New password" [(ngModel)]="password[0].NewPassword">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="center" >
            <mat-form-field class="example-full-width">
                <mat-label>New password confirmation</mat-label>
                <input matInput placeholder="New password confirmation" [(ngModel)]="password[0].ConfirmPassword">
              </mat-form-field>
            </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end"  class="margin-left">
        <button mat-raised-button color="primary" (click)="changePassword()">Save</button>
        </div>
    </mat-expansion-panel>
    
  </mat-accordion>
</div>