<div fxFlex="60" class="flex-container">
    <mat-card class="loginCard" novalidate [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()" >
      <mat-card-title style="text-align: center">Set Password</mat-card-title>
     
            <div class="form-group">
          <mat-form-field class="inputFields">
                    <mat-label>Password</mat-label>
                    <input class="form-control" formControlName="password" placeholder="Enter password" matInput [(ngModel)]="passwordSet.Password">
          </mat-form-field> 
        </div>
        
        <div class="form-group">
    
          <mat-form-field class="inputFields">
                  <mat-label>Password confirmation</mat-label>
            <input type="password" class="form-control" formControlName="passwordConfirmation" placeholder="Password confirmation" matInput type="password"  (keyup.enter)="setPassword()" [routerLink]="['login']">
          </mat-form-field>
    
        </div>
        <mat-card-actions>
          <button type="submit" class="loginButton" mat-raised-button color="primary" [disabled]="!setPasswordForm.valid" [routerLink]="['login']" (click)="onSubmit()">Save</button>
          </mat-card-actions>
    </mat-card>
    </div>