
<div class="mat-elevation-z8 tablelong">
    <table mat-table [dataSource]="dataSource">
     
      <!-- Name Column -->
      <ng-container matColumnDef="cryptoName">
        <th fxLayoutAlign="start center" fxFlex="25" mat-header-cell *matHeaderCellDef>Currency</th>
        <td fxLayoutAlign="start center" fxFlex="25" mat-cell *matCellDef="let element" matTooltip="{{element.cryptoCurrencyName}}">
          <span class="ellipsis"> {{ element.cryptoCurrencyName }}</span>
        </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="iban">
        <th fxLayoutAlign="start center" fxFlex="35" mat-header-cell *matHeaderCellDef>Refference</th>
        <td fxLayoutAlign="start center" fxFlex="35" mat-cell *matCellDef="let element" matTooltip="{{element.refference}}"><span class="ellipsis">{{ element.refference }}</span></td>
      </ng-container>
      <!-- Amount Column -->
      <ng-container matColumnDef="sold">
        <th fxLayoutAlign="start center" fxFlex="15" mat-header-cell *matHeaderCellDef>Sold</th>
        <td fxLayoutAlign="start center" fxFlex="15" mat-cell *matCellDef="let element" matTooltip="{{element.sold}}"><span class="ellipsis">{{ element.sold }}</span></td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th fxLayoutAlign="center center" fxFlex="25" mat-header-cell *matHeaderCellDef>Actions</th>
        <td fxLayoutAlign="center center" fxFlex="25" mat-cell *matCellDef="let element">
          <button (click)="changeTab(1)"
          mat-icon-button
          color="primary"
          routerLink="/portal/user/transactions"
        >
          <i class="material-icons" matTooltip="Transactions">
            timeline
          </i>
        </button>
          <button
            mat-icon-button
            color="primary"
            (click)="trade(element.id); cryptoAccountService.setID(element.id)"
          >
            <i class="material-icons" matTooltip="Trade">
              swap_horiz
            </i>
          </button>
          <button
          mat-icon-button
          color="primary"
          (click)="transferOpenDialog()"
        >
          <i class="material-icons" matTooltip="Transfer">
            swap_vert
          </i>
        </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteCryptoAccount(element.id)"
            matTooltip="Delete"
          >
            <i class="material-icons">
              delete
            </i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator  #paginator  [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  